/***************** Global styles *****************/

* {
  box-sizing: border-box;
}

body {
  /* text-align: center; */
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
}

h1,
h2 {
  margin: 0;
}


/***************** Table styles ******************/

table,
tr,
td {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

tr {
  height: 20px;
}

td {
  width: 20px;
  cursor: crosshair;
}

p {
    margin: 0;
}


/************** .container & grid styles *********/

.container {
  /* border: 1px solid red; */
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: [aside-start] 1fr [aside-end] 1fr [canvas-start] 1fr [midcanvas-start] 1fr [midcanvas-end] 1fr [canvas-end];
  grid-template-rows: 60px repeat(12, minmax(100px, auto));
  grid-column-gap: 10px;
}


/***************** header styles *****************/

header {
  background: rgb(208, 131, 95);
  grid-column: aside-start / canvas-end;
}


/***************** aside styles ******************/

aside,
.canvas-area {
  grid-row: 2 / 13;
  padding-top: 1.8em;
}

aside {
  grid-column: aside-start / aside-end;
  background: rgb(130, 232, 145);
  /* padding: 10px; */
}

aside h2 {
    margin-bottom: 1em;
    /* color: #211d28; */
    color: rgb(90, 37, 113);
}

.canvas-area h2, label, header h1 {
    color: rgb(90, 37, 113);
}

.settings-area {
  background: rgb(133, 171, 242);
}


.settings-area, .info-area {
    padding-bottom: 1.5rem;
}

.input-area {
    margin-bottom: 1.5rem;
}

#submitButton {
    display: block;
    margin: 1em 0;
    border: none;
    padding: .60em;
    font-size: 1.2em;
    background: #8472a5;
    cursor: pointer;
    border-radius: 3px;
    color: #fff;
    box-shadow: 1px 3px 5px 1px #c9c8c8;
    transition: all .03s ease-in;
}

#submitButton:focus {
    outline: none;
}

#submitButton:active {
    transform: translateY(1px);
}

#colorPicker {
    cursor: pointer;
}

.grid-settings {
    /* display: flex; */
    /* justify-content: space-around; */
}

.grid-settings label {
    display: block;
    margin-bottom: .80rem;
    /* width: 100%; */
}

input[type=number] {
  width: 7em;
  max-width: 10em;
  margin-bottom: 1rem;
  color: #211d28;
  border: none;
  border-bottom: 1px solid #a793cb;
  padding-bottom: 0.60em;
  font-size: 1em;
}

input[type=number]:focus {
    outline: none;
}

.info-area {
  background: rgb(195, 126, 203);
}


/***************** canvas area styles ********/

.canvas-area {
  background: rgb(220, 147, 172);
  grid-column: aside-end / canvas-end;
}

.canvas-area h2 {
  text-align: center;
  margin-bottom: 2em;
}



/***************** footer styles ***************/

footer {
  /* color: lightgray; */
  background: burlywood;
  grid-column: aside-start / canvas-end;
}



/* turn all sections background to white */
header, aside, .settings-area, .info-area, .canvas-area, footer {
    background: #fff;
}

.settings-area {
    /* background: #fff; */
}