/* Global Styles */

* {
  box-sizing: border-box;
}

body {
  /* text-align: center; */
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
}

h1,
h2 {
  margin: 0;
}

.canvas-area h2 {
  text-align: center;
}


/* Grid & Table Styles */

table,
tr,
td {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

tr {
  height: 20px;
}

td {
  width: 20px;
  cursor: crosshair;
}

input[type=number] {
  width: 6em;
}

.container {
  border: 1px solid red;
  width: 80%;
	margin: 0 auto;
}

/* TODO: PLace the rest of the elements using grid properties */
header {
	background: sienna;
	grid-column: aside-start / canvas-end;
}

/*  */
.settings-area {
  background: cornflowerblue;
}

.canvas-area {
  background: palevioletred
}

.info-area {
}

footer {
  /* color: lightgray; */
  background: burlywood;
}



/* layout styles */
.container {
	display: grid;
	grid-template-columns: [aside-start] 1fr [canvas-start] 1fr [midcanvas-start] 1fr [midcanvas-end] 1fr [canvas-end];
	grid-template-rows: minmax(100px, auto);
}