/* Global Styles */

* {
  box-sizing: border-box;
}

body {
  /* text-align: center; */
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
}

h1,
h2 {
  margin: 0;
}

.canvas-area h2 {
  text-align: center;
}


/* Grid & Table Styles */

table,
tr,
td {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

tr {
  height: 20px;
}

td {
  width: 20px;
  cursor: crosshair;
}

input[type=number] {
  width: 6em;
}

.container {
  /* border: 1px solid red; */
  width: 80%;
    margin: 0 auto;
    /* height: 100vh; */
}

/* TODO: PLace the rest of the elements using grid properties */
header {
	background: rgb(208, 131, 95);
	grid-column: aside-start / canvas-end;
}

aside {
    grid-column: aside-start / canvas-start;
    background: rgb(130, 232, 145);
}

.canvas-area {
    background: rgb(220, 147, 172);
    grid-column: canvas-start / canvas-end;
  }

/*  */
.settings-area {
  background: rgb(133, 171, 242);
}

aside, .canvas-area {
    grid-row: 2 / 13;
}



.info-area {
    background: rgb(195, 126, 203);
}

footer {
  /* color: lightgray; */
  background: burlywood;
  grid-column: aside-start / canvas-end;
}



/* layout styles */
.container {
	display: grid;
    grid-template-columns: [aside-start] 1fr [canvas-start] 1fr [midcanvas-start] 1fr [midcanvas-end] 1fr [canvas-end];
    grid-template-rows: 60px repeat(12, minmax(100px, auto));
    /* max-height: 100vh; */
}